html, body {
    font-family: 'Roboto', sans-serif;
    background: rgb(51, 51, 51);
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

#projects {
    width: 280px;
    max-width: 25vw;
}

#content {
    flex: 1;
}

#search form {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

#search form .query {
    flex: 1;
}

#results {
    overflow: auto;
}

.results ul li a.real {
    text-decoration: none;
    color: black;
}

.results ul li a.real .file {
    color: orangered;
}

.results ul li a.real .line {
    color: grey;
}

.results ul li a.real:hover .file {
    text-decoration: underline;
    text-decoration-color: grey;
}

.results ul li a.real:hover .line {
    text-decoration: underline;
    text-decoration-color: orangered;
}

.results ul li a.context {
    text-decoration: none;
    color: grey;
}

.results ul li a.context .file {
    color: #A88;
}

.results ul li a.context .line {
    color: #BBB;
}

.results ul li a.context:hover .file {
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

.results ul li a.context:hover .line {
    text-decoration: underline;
    text-decoration-color: grey;
}